<div class="text-center about-page">
	<h4>About</h4>
	<p>This is for all the sports fanatics out there. We will help you stay updated with all the sports you like without having to visit your browser or hampering your workflow in any way. We do this by using customized rich notifications depending on the sport. Hope you love it.
	</p>
	<p>We aim to expand to a lot of sports including football, tennis, basketball, etc. Right now we are starting off with cricket. Other sports and more features will be added very soon.</p>
	<p>It will be great if you can provide feedback by commenting in the chrome webstore where you installed this extension, so that we can make things even better.</p>
</div>
